@page
@model ResourceManager.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipmentPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipmentPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CompleteDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CompleteDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderedBy.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ApprovedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ApprovedBy.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Supplier.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Supply)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Supply.AcceptedById)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
