@page
@model ResourceManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <b>Номер замовлення:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderNum)
        </dd>
        <dt class="col-sm-2">
            <b>Вартість замовлення:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderPrice)
        </dd>
        <dt class="col-sm-2">
            <b>Дата створення:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            <b>Ціна доставки:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipmentPrice)
        </dd>
        <dt class="col-sm-2">
            <b>Сумарна вартість:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>
        <!--
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CompleteDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CompleteDate)
        </dd>
        -->
        <dt class="col-sm-2">
            <b>Статус замовлення:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus.Name)
        </dd>
        <dt class="col-sm-2">
            <b>Ким створено:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderedBy.UserName)
        </dd>
        <dt class="col-sm-2">
            <b>Постачальник:</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Supplier.Name)
        </dd>
    </dl>

    <h3>Ресурси:</h3>

    @for (int i = 0; i < Model.Order.OrderItems.Count(); i++)
    {
        <div class="row">
            <dt class="col-sm-1">
                <b>Ресурс:</b>
            </dt>
            <dd class="col-sm-1">
                @Html.DisplayFor(model => model.Order.OrderItems[i].Resource.Name)
            </dd>
            <dt class="col-sm-1">
                <b>Кількість:</b>
            </dt>
            <dd class="col-sm-1">
                @Html.DisplayFor(model => model.Order.OrderItems[i].Quantity)
            </dd>
            <dt class="col-sm-1">
                <b>Ціна за одиницю:</b>
            </dt>
            <dd class="col-sm-1">
                @Html.DisplayFor(model => model.Order.OrderItems[i].UnitPrice)
            </dd>
        </div>
    }
    <!--
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Order.Supply)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Order.Supply.WayBillNumber)
    </dd>
    -->
</div>

<div class="row mt-3 mb-3">
    <div class="col-2">
        <form asp-page="Details" asp-page-handler="Approve" method="post" >
            <input type="hidden" asp-for="OrderId" />
            <button class="btn btn-primary">
                Підтвердити
            </button>
        </form>
    </div>
    <div class="col-2">
        <a class="btn btn-danger">Скасувати</a>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
