@page
@model ResourceManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShipmentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CompleteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Supply)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supply.AcceptedById)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
